body {
    background-color: var(--bgcolor);
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  :root {
    --bgcolor: #3d087b;
    --gradient1: #6e54ec;
    --gradient2: #cb52f8;
    --gradient3: #fc5eff;
    --gradient4: #f1a7c5;
  }
  /* ---------------main container--------------- */
  .mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  /* ---------------commonBlock1 container--------------- */
  
  /* ---------------inner 1 container--------------- */
  
  .innerContainerOne {
    /* width: 566px; */
    max-width: 566px;
    width: 49%;
    display: flex;
    flex-direction: column;
  }
  /* ---------------clock container--------------- */
  
  .clockLogo {
    max-width: 203px;
    /* width: 203px; */
    height: 77px;
  }
  /* ---------------card container--------------- */
  .cardContainer {
    background-color: white;
    /* width: 566px; */
    max-width: 566px;
    height: 363px;
    border-radius: 10px;
    margin-top: 38px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }
  .cardContainer hr {
    position: absolute;
    border: 1px solid #c2c2c2;
    left: 42px;
    margin: 0px;
    height: 33px;
  }
  .cardContainer .hr1 {
    top: 75px;
  }
  .cardContainer .hr2 {
    top: 165px;
  }
  .cardContainer .hr3 {
    top: 255px;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card img {
    position: absolute;
    max-width: 34px;
    /* width: 34px; */
    height: 34px;
    left: 25px;
    object-fit: cover;
  }
  .card label {
    position: relative;
    left: 80px;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .option {
    /* width: 251px; */
    width: 40%;
    height: 45px;
    position: relative;
    right: 24px;
  }
  /* ------------------greating------------------------- */
  .greating {
    /* width: 566px; */
    max-width: 566px;
    height: 77px;
    background-color: rgb(255, 255, 255, 0.23);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .greating p {
    color: rgba(255, 255, 255, 1);
    font-size: 27px;
    font-family: "Baumans", cursive;
    display: flex;
    justify-content: center;
  }
  
  /* ----------------lower container------------------ */
  .lowerContainer {
    display: flex;
    margin-top: 11px;
    justify-content: space-between;
    /* width: 566px; */
    max-width: 566px;
  }
  
  /* -----------------set alarm---------------- */
  .setAlarm {
    margin-top: 9px;
    display: flex;
    transition: all 0s linear 2s;
    background-image: linear-gradient(
      to right,
      var(--gradient1),
      var(--gradient2),
      var(--gradient3),
      var(--gradient4)
    );
    width: 45%;
    /* width: 299px; */
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
  }
  
  .setAlarm:hover {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      var(--gradient4),
      var(--gradient3),
      var(--gradient2),
      var(--gradient1)
    );
  }
  /* ----------schedule-------------- */
  .schedule {
    display: inline-block;
    width: 51%;
    /* width: 253px; */
    height: 117px;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    padding: 0;
    overflow-x: auto;
  }
  
  .schedule span {
    display: block;
    margin: 10px 31px 13px 12px;
    font-size: 13px;
    color: #f25cfe;
    text-align: left;
  }
  
  /* ----------------inner container 2------------------ */
  .innerContainerTwo {
    max-width: 566px;
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  
  .timer {
    /* width: 566px; */
    max-width: 566px;
    margin-top: 8px;
    height: 155px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .timerBox1 {
    position: absolute;
    top: 0px;
    z-index: 3;
    /* width: 566px; */
    width: 100%;
    height: 130px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 2);
    border: 1px solid #ededed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #3d087b;
    font-size: 20px;
  }
  
  .timerBox1 .span1 {
    background-image: url("./images/timeLine.png");
    max-width: 80px;
    /* width: 80px; */
    height: 90px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .span1Div2 {
    font-size: 22px;
  }
  .timerBox1 .span2 {
    background-image: url("./images/AM_svg.svg");
    /* width: 80px; */
    max-width: 80px;
    height: 90px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .timerBox2 {
    position: absolute;
    top: 13px;
    z-index: 2;
    /* width: 416px; */
    width: 73%;
    height: 130px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.71);
  }
  .timerBox3 {
    position: absolute;
    top: 25px;
    z-index: 3;
    /* width: 379px; */
    width: 66%;
    height: 130px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.22);
  }
  /* --------------------message---------------------- */
  .message {
    /* width: 566px; */
    max-width: 566px;
    height: 118px;
    border: 1px solid #ededed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }
  .message {
    margin-top: 15px;
    color: #8e53f0;
    font-size: 30px;
    opacity: 1;
  }
  /* ------------------uiImages---------------------------- */
  .uiImages {
    margin-top: 15px;
    /* width: 566px; */
    max-width: 566px;
    height: 341px;
    object-fit: cover;
  }
  
  /*-------------------Risponsiveness-----------------  */
  /* --------------tablet------------- */
  
  @media ((max-width: 871px)) {
    .card img {
      width: 10%;
    }
    .card label {
      position: absolute;
      left: 80px;
      width: 100px;
      font-size: 16px;
    }
  
    .option {
      /* width: 251px; */
      width: 20%;
      height: 45px;
      position: absolute;
      right: 24px;
    }
  }
  @media ((max-width: 650px)) {
    /* body {
      height: 200vh;
    } */
    .mainContainer {
      flex-direction: column;
      align-items: center;
      max-width: 566px;
      position: relative;
    }
    .innerContainerOne {
      width: 100%;
    }
    .innerContainerTwo {
      width: 100%;
      margin-left: 0;
    }
    .card img {
      width: 10%;
    }
    .card label {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 50%;
      font-size: 16px;
      white-space: nowrap;
    }
  
    .option {
      /* width: 251px; */
      width: 40%;
    }
    .Block1 {
      position: absolute;
      top: 34px;
    }
    .Block5 {
      position: absolute;
      top: 119px;
      width: 100%;
    }
  
    .Block6 {
      position: absolute;
      top: 300px;
      width: 100%;
    }
    .Block2 {
      position: absolute;
      top: 450px;
      width: 100%;
    }
    .Block3 {
      position: absolute;
      top: 885px;
      width: 100%;
    }
  
    .Block7 {
      position: absolute;
      top: 1020px;
      width: 100%;
    }
    .Block4 {
      position: absolute;
      top: 1400px;
      width: 100%;
    }
  }
  